<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo">
  <test name="demotest">
     <classes>  
      	<class name="demotest.demotestclasstng"/>
      	<class name="demotest.demotestclasstngpass"/>
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
